/** Ubuntu **/
@font-face {
	font-family: "Ubuntu-Regular";
	src:url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
	font-family: "Ubuntu-Light";
	src:url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
	font-family: "Ubuntu-Medium";
	src:url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
	font-family: "Ubuntu-Bold";
	src:url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
	font-family: "Ubuntu-Italic";
	src:url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
}

/** ALSrubl **/
@font-face {
	font-family: "ALSrubl";
	src:url(../fonts/Ubuntu/ALSrubl.otf);
}